*.o
*.a
magic.h
gcov

lava-gcc
lava-afl-gcc
lava-afl-cf
lava-hf
lava-install

3/greps/src/src/grep
3/jpegs/src/src/memdjpeg
4/newgrepS/src/src/grep
4/pcreS/src/src/pcre2grep
5/fileS2/src/src/file
6/filemagicS/src/src/file
6/jqS/src/src/jq
7/jqS2/src/src/jq
7/yamlS3/src/src/libyaml
8/bzipS/src/src/bzip2
8/filemagicS2/src/src/file
8/pcreS2/src/src/pcre2grep
9/jpegS2/src/src/jpeg
10/audiofileS/src/src/audiofile
10/tcpdumpS/src/src/tcpdump
11/jpegS3/src/src/jpeg
11/jqS3/src/src/jq
12/fileS3/src/src/file
12/jqS4/src/src/jq
13/fileS4/src/src/file
13/jpegS4/src/src/jpeg
