<!DOCTYPE html>
<html>
<head>
<title>Rode0day Corpora Results</title>

<script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/r-2.2.3/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/r-2.2.3/datatables.min.js"></script>


<style>
table.dataTable {
    width: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.center {
    margin: auto;
    text-align: center;
    width: fit-content;
}
</style>

</head>
<body>

<div class="center">
<h2> Lava Bug Results </h2>

<table id="table_id" class="compact display">
    <thead>
        <tr>
            <th> Prefix  </th>
            <th> Challenge Name </th>
            <th> Found </th>
            <th> Total </th>
            <th> % Validated </th>
        </tr>
    </thead>
    <tbody>

